<div class="container">
    <main class="main">
        <article class="content">
            <h1>Создание приложения на react&redux для работы с файлами.</h1>
            <p>
                Использовался дашборд Material Dashboard React на основе Material-UI с небольшими дизайнерскими изменениями.
            </p>
            <p>Серверная часть на laravel, общение происходит с помощью REST API.</p>
            <p>По функционалу была сделана работа с пользователями - авторизация, регистрация, восстановление пароля, страница профиля.</p>
            <img src="%=static=%img/assets/content/apis-profile.png" alt="apis profile">
            <p>
                Есть обычные пользователи и есть админы и суперадмины, которые могут добавить, отредактировать или удалить пользователя.
            </p>
            <img src="%=static=%img/assets/content/apis-edit-user.png" alt="apis edit user">
            <p>Файлы разбиты по категориям.</p>
            <img src="%=static=%img/assets/content/apis-category.png" alt="apis category">
            <p>
                Файлы можно добавлять, удалять, редактировать, делать скрытыми, просматривать превью и скачивать.
            </p>
            <img src="%=static=%img/assets/content/apis-files.png" alt="apis files">
            <p>Админам также доступна статистика.</p>
            <img src="%=static=%img/assets/content/apis-stats.png" alt="apis stats">
        </article>
    </main>
</div>
