<div class="container">
    <main class="main">
        <article class="content">
            <h1>Туанна логистик</h1>
            <p>
                Комфортный, удобный и привлекательный сайт для логистической компании. Сайт отличает яркий дизайн с
                долей здравого минимализма с акцентом на контент.
            </p>
            <img src="%=static=%img/assets/content/tuanna-1.png" alt="">
            <p>
                При наведении на плашку картинка затемняется и показывается заголовок и краткий текст о данном разделе сайта.
            </p>
            <img src="%=static=%img/assets/content/tuanna-2.jpg" alt="">
            <p>
                На сайте простая и удобная выезжающая навигация.
            </p>
            <img src="%=static=%img/assets/content/tuanna-3.jpg" alt="">
            <p>
                Поиск:
            </p>
            <img src="%=static=%img/assets/content/tuanna-4.jpg" alt="">
            <img src="%=static=%img/assets/content/tuanna-5.jpg" alt="">
        </article>
    </main>
</div>
