<div class="container">
    <main class="main">
        <article class="content">
            <h1>Проект Столик</h1>
            <p>
                Сайт сотрудничает с заведениями города Гомеля и старается дать максимально полную информацию об услугах,
                которые они могут предложить.
            </p>
            <img src="%=static=%img/assets/content/ctolik-1.png" alt="">
            <p>
                В последствии будут добавляться заведения и других областных городов.
            </p>
            <p>
                Сайт является каталогом мест для развлечений, активного и не очень отдыха, занятия спортом, праздничных
                мероприятий.
            </p>
            <p>
                Кроме каталога на сайте есть афиша, в которой публикуются интересные события, например, выставки
                живописи, кино.
            </p>
            <span>На сайте присутствует:</span>
            <ol>
                <li>Каталог заведений.</li>
                <li>Афиша.</li>
                <li>Календарь событий.</li>
            </ol>
            <img src="%=static=%img/assets/content/ctolik-2.jpg" alt="">
            <img src="%=static=%img/assets/content/ctolik-3.jpg" alt="">
            <img src="%=static=%img/assets/content/ctolik-4.jpg" alt="">
            <p>
                Из нового — добавлена возможность заказать столик в определенном заведении. Нажимаем заказать столик и
                видим красивое всплывающее окно по бронированию столиков:
            </p>
            <img src="%=static=%img/assets/content/ctolik-5.png" alt="">
        </article>
    </main>
</div>
