<div class="container">
    <main class="main">
        <article class="content">
            <h1>Супердог — Сайт для домашнего любимца</h1>
            <p>
                Сайт для владельцев домашних животных и их питомцев. Яркий, красивый и стильный дизайн с прекрасными иллюстрациями.
            </p>
            <img src="%=static=%img/assets/content/superdog-1.png" alt="">
            <p>
                На сайте можно найти все, что необходимо для домашнего любимца. Множество товаров и услуг по уходу за домашними животными.
                Ссылка <a title="СуперПёс!" href="http://superdog.by" target="_blank">superdog.by</a>.
            </p>
            <img src="%=static=%img/assets/content/superdog-2.png" alt="">

        </article>
    </main>
</div>
