<div class="container">
    <main class="main">
        <article class="content">
            <h1>Создание прототипа приложения на react&redux для отслеживания поставок лекарств.</h1>
            <p>
                Были созданы страница поиска с фильтрами и страница аналитики. Данные грузятся из файла csv.
            </p>
            <img src="%=static=%img/assets/content/omny-1.png" alt="omny filter">
            <p>
                При сворачивании фильтра видна карта. В боковой панеле показаны выбранные фильтры. Если кликнуть в таблице строку, то на карте отображается
                метка, которая показывает поставки из одного города в другой.
            </p>
            <img src="%=static=%img/assets/content/omny-2.png" alt="omny map">
            <p>
                На каждой странице присутствует тур по приложению, объясняющий пользователю работу с данной страницей.
            </p>
            <img src="%=static=%img/assets/content/omny-3.png" alt="omny analytic">
        </article>
    </main>
</div>
