<div class="container">
    <main class="main">
        <article class="content">
            <h1>Вёрстка сайта по бронированию квартир dormis.com</h1>
            <p>
                Вёрстка большего проекта по аренде квартир, с множеством различных и сложных страниц. На сайте пока
                работает первая версия проекта, вторая версия с новым дизайном и серверной частью в процессе разработки,
                однако новую главную страницу уже можно <a href="http://dormis.krontill.ru/" target="_blank">глянуть</a>.
            </p>
            <p>
                Для front-end разработки второй версии использовал препроцессор less, сборщик проектов TARS, методологию
                BEM. Помогал back-end разработчику в натяжке верстки на ZF3 (Zend Framework 3). Вёрстка адаптирована под
                все разрешения, от десктопа, до планшетов и мобильников (иконки адаптированы под retina экраны).
            </p>
            <img src="%=static=%img/assets/content/dormis-1-mobile.png" alt="dormis mobile">
            <p>
                Чистый и валидный код, проверено валидатором w3c.
            </p>
            <img src="%=static=%img/assets/content/dormis-2-w3c.png" alt="dormis w3c validator">
            <p>
                Главная страница второй версии.
            </p>
            <img src="%=static=%img/assets/content/dormis-3-home.jpg" alt="dormis home">
            <p>
                Макет главной страницы прошлой версии.
            </p>
            <img src="%=static=%img/assets/content/dormis-3-home-old.jpg" alt="dormis home old">
            <p>
                Страница поиска с множеством фильтров и картой, на которой отмечены маркеры квартир. Если маркеров
                квартир много, то они кластеризуются. Есть три вида кластеров в зависимости от количества квартир.
                Вверху страницы находятся табы, чтобы было удобно переключать между фильтрами, картой и блоком квартир.
            </p>
            <img src="%=static=%img/assets/content/dormis-4-search.jpg" alt="dormis search">
            <p>
                Стартовая посадочная страница.
            </p>
            <img src="%=static=%img/assets/content/dormis-5-start-listing.jpg" alt="dormis start listing">
            <p>
                Страница квартиры с описанием, галереей, картой, формой для букинга и оплаты, которые появляются после
                нажатия на кнопку забронировать сейчас.
            </p>
            <img src="%=static=%img/assets/content/dormis-6-flat.jpg" alt="dormis flat">
            <p>
                Макет страницы просмотра бронирования.
            </p>
            <img src="%=static=%img/assets/content/dormis-7.png" alt="dormis">
            <p>
                Страница добавления квартиры. Первый этап из трех.
            </p>
            <img src="%=static=%img/assets/content/dormis-8-add-flat.png" alt="dormis add flat">
        </article>
    </main>
</div>
