<div class="container">
    <main class="main">
        <article class="content">
            <h1>Создание html-верстки для электронных писем на проекте Dormis</h1>
            <p>На почту приходит письмо-уведомление о проделанном действии при регистрации, бронировании квартиры, ее
                публикации или изменении, а также во многих других случаях. Письма приходят как пользователям, так и
                хозяину квартиры, а иногда еще и админу сайта. А еще в будущем планировали информационную рассылку. Для
                каждого из этих случаев нужно свое красиво оформленное html-письмо. Всего было разработано дизайнером и
                сверстано мной 33 варианта письма. По результатам проделанной работы я написал
                <a href="/blog/html-email.html" target="_blank">статью</a> о том как это было сделано.</p>
            <p>
                Вот несколько примеров сверстанных html-писем: <br>
                <a href="/html-emails/index.html" target="_blank">Письмо туристу при бронировании квартиры.</a><br>
                <a href="/html-emails/index02.html" target="_blank">Письмо владельцу при бронировании квартиры.</a><br>
                <a href="/html-emails/index04.html" target="_blank">Письмо туристу если требуется дополнительная оплата.</a><br>
                <a href="/html-emails/index20.html" target="_blank">Письмо пользователю для активации аккаунта.</a><br>
                <a href="/html-emails/index21.html" target="_blank">Подтверждение аккаунта прошло успешно.</a><br>
                <a href="/html-emails/index22.html" target="_blank">Восстановление пароля.</a><br>
                <a href="/html-emails/index31.html" target="_blank">Уведомление админу при деактивации квартиры.</a><br>
            </p>
            <img src="%=static=%img/assets/content/html-email-1.png" alt="html-email">
            <p>
                Письмо владельцу квартиры при переводе квартиры в статус offline.
            </p>
            <img src="%=static=%img/assets/content/html-email-2.png" alt="html-email">
        </article>
    </main>
</div>
