<div class="container">
    <main class="main">
        <article class="content">
            <h1>Управление ЖКХ Гомельского облисполкома</h1>
            <p>Верстка для freetopay в виде приложения для одноклассников.</p>
            <img src="%=static=%img/assets/content/ugkh-1.png" alt="">
            <p>
                На сайте есть все, что касается жилищно-коммунального хозяйства гомельской области и даже чуть-чуть
                больше. Как и на любом сайте здесь тоже есть новости. На сайте много документов для скачивания — указов,
                директив, постановлений, законов.
            </p>
            <p>
                Важной частью сайта является раздел инвестиционные предложения. В нем размещены предложения, которые
                могут быть интересны потенциальным инвесторам.
            </p>
            <p>
                В фотоальбоме можно ознакомиться с сотрудниками и мероприятиями из жизни управления. Кроме этого в
                фотоальбоме представлены фотографии гостиниц гомельской области, которые так или иначе относятся к
                управлению жкх гомельской области.
            </p>
            <p>
                Ссылка: <a title="Управление ЖКХ Гомельского облисполкома" href="http://www.ugkh.gomel.by"
                           target="_blank">ugkh.gomel.by</a>.
            </p>
            <span>Функционал:</span>
            <ol>
                <li>Фотоальбом.</li>
                <li>Обратная связь.</li>
                <li>Карта со всплывающим списком предприятий.</li>
                <li>Документы для скачивания.</li>
                <li>Курсы валют.</li>
                <li>Погода.</li>
                <li>Поиск.</li>
                <li>Авторизация.</li>
            </ol>
            <img src="%=static=%img/assets/content/ugkh-2.png" alt="">
            <p>Одной из особенностей сайта является реализация формы обратной связи. При выборе темы вопроса меняется
                контактная информация человека, который курирует эту тему и на почту которого будет отправлено письмо с
                вопросом.</p>
            <img src="%=static=%img/assets/content/ugkh-3.png" alt="">
        </article>
    </main>
</div>
