<div class="container">
    <main class="main">
        <article class="content">
            <h1>Тестовое задание на летнюю стажировку СКБ Контур 2014</h1>
            <p>
                Весной решил сделать тестовое задание для стажировки, авось прошел бы :)
            </p>
            <p>
                Данное задание было больше интересно не с точки зрения верстки, а для практики программирования на чистом javascript.
            </p>
            <img src="%=static=%img/assets/content/kontur-1.png" alt="">
            <p>
                На стажировку хоть и не попал, но опыт получил. Готовое задание выложил
                <a href="/probation/" target="_blank">тут</a>.
            </p>
            <p>
                Совсем недавно изучал фреймворк extjs и делал функционал данного задания на нем — результат можно глянуть на гитхабе
                <a href="https://github.com/krontill/ListStudents" target="_blank">https://github.com/krontill/ListStudents</a>.
            </p>
        </article>
    </main>
</div>
