<div class="container">
    <main class="main">
        <article class="content">
            <h1>FreetoPay-OK — приложение для одноклассников</h1>
            <p>Верстка для freetopay в виде приложения для одноклассников.</p>
            <img src="%=static=%img/assets/content/oki-1.jpg" alt="">
            <img src="%=static=%img/assets/content/oki-2.jpg" alt="">
            <img src="%=static=%img/assets/content/oki-3.jpg" alt="">
            <img src="%=static=%img/assets/content/oki-4.jpg" alt="">
            <img src="%=static=%img/assets/content/oki-5.jpg" alt="">
            <img src="%=static=%img/assets/content/oki-6.jpg" alt="">
            <img src="%=static=%img/assets/content/oki-7.jpg" alt="">
        </article>
    </main>
</div>
