<div class="container">
    <main class="main">
        <article class="content">
            <h1>BAI: crm, сайт, админка</h1>
            <p>
                Улучшение и оптимизация одной из самых востребованных страниц в crm.
            </p>
            <img src="%=static=%img/assets/content/bai-1-crm.png" alt="bai crm">
            <p>В той же crm переверстали pop-up поиска.</p>
            <img src="%=static=%img/assets/content/bai-2-search-pop-up.png" alt="bai search pop-up">
            <p>Главная страница сайта после редизайна.</p>
            <img src="%=static=%img/assets/content/bai-3-home.jpg" alt="bai homepage">
            <p>Административная часть сайта.</p>
            <img src="%=static=%img/assets/content/bai-4-create-page-list.png" alt="bai create page list">
        </article>
    </main>
</div>
