<div class="container">
    <main class="main">
        <article class="content">
            <h1>Государственное Учреждение «Управление бытового обслуживания Гомельской области»</h1>
            <p>
                На сайте размещается информация о деятельности учреждения, его целях и задачах, а также география и предприятия.
            </p>
            <img src="%=static=%img/assets/content/ubo-1.png" alt="">
            <p>
                Новости и документы дают возможность посетителям сайта узнать основное в жизни и работе управления бытового обслуживания гомельской области.
            </p>
            <p>
                На дизайн сайта повлияла география учреждения, так как было желание это как то отобразить, поэтому на фоне можно лицезреть наш родной Гомель.
            </p>
            <p>
                Ссылка: <a title="Государственное Учреждение &quot;Управление бытового обслуживания Гомельской области&quot;" href="http://www.ubo.gomel.by" target="_blank">ubo.gomel.by</a>.
            </p>
            <span>Функционал:</span>
            <ol>
                <li>Фотоальбом.</li>
                <li>Обратная связь.</li>
                <li>Карта со всплывающим списком предприятий.</li>
                <li>Документы для скачивания.</li>
                <li>Курсы валют.</li>
                <li>Погода.</li>
                <li>Поиск.</li>
            </ol>
            <p>
                В разделе предприятия представлен список подчиненных предприятий, а также на карте показана география деятельности учреждения.
            </p>
            <img src="%=static=%img/assets/content/ubo-2.png" alt="">
        </article>
    </main>
</div>
