<div class="container">
    <main class="main">
        <article class="content">
            <h1>Архитектурная мастерская Сергей Киселев и Партнеры</h1>
            <p>
                Сложнейший сайт с уникальным дизайном напичканный всевозможными наворотами, хитростями и скриптами.
                Каждый раздел обладает своей индивидуальностью и не похож на другие.
            </p>
            <img src="%=static=%img/assets/content/kiselev-1.png" alt="">
            <p>
                Так выглядит описание конкретного проекта. На странице проекта можно загрузить множество фотографий. Так
                как сайт статичный по высоте, то просмотр был реализован стрелочками.
            </p>
            <p>
                Добавлено множество скриншотов, показывающие различные разделы сайта и все его визуальное разнообразие.
                Смотрите и наслаждайтесь.
            </p>
            <p>
                Требования заказчика были жесткие и все было реализовано пиксель в пиксель. В пункте меню «Для
                таксистов» можно посмотреть видео о некоторых проектах компании Сергей Киселев и партнеры. На
                Яндекс-карте представлена география проектов, расположено около двухсот проектов в различных городах и
                странах.
            </p>
            <p>
                В разделе «Архив» можно посмотреть большую часть проектов мастерской и информацию по ним (например,
                доведен ли проект до стадии строительства, есть ли разработанная документация и т. д.).
            </p>

            <p>
                Ссылка: <a title="Сергей Киселев и партнеры" href="http://sk-p.ru/" target="_blank">sk-p.ru</a>.
            </p>
            <span>Особенности:</span>
            <ol>
                <li>Приветственная флешка.</li>
                <li>Просмотр видео на сайте.</li>
                <li>Уникальный дизайн.</li>
                <li>Карта проектов.</li>
                <li>Публикации в формате pdf.</li>
                <li>Архив проектов.</li>
                <li>Описание текущий проектов.</li>
                <li>Состав мастерской с фотографиями сотрудников.</li>
                <li>Галереи наград и премий.</li>
            </ol>
            <p>
                Архитектурная мастерская «Сергей Киселев и Партнеры» имеет огромное количество премий, наград и грамот –
                им посвящен отдельный раздел на сайте:
            </p>
            <img src="%=static=%img/assets/content/kiselev-2.png" alt="">
            <p>
                На странице о составе мастерской в меню «О компании» представлен список действующих и бывших
                сотрудников. При наведении на имя сотрудника появляется его фотография.
            </p>
            <img src="%=static=%img/assets/content/kiselev-3.png" alt="">
            <p>
                Публикации с возможностью скачать в формате pdf.
            </p>
            <img src="%=static=%img/assets/content/kiselev-4.png" alt="">
            <p>
                Страница портфолио. При наведении на плашку конкретного проекта черно-белая картинка-превью данного
                проекта становится цветной а рядом написан номер проекта и его название.
            </p>
            <img src="%=static=%img/assets/content/kiselev-5.png" alt="">
            <p>
                Для иностранцев. Разный текст для разных иностранцев.
            </p>
            <img src="%=static=%img/assets/content/kiselev-6.png" alt="">
            <p>
                Текущие проекты компании:
            </p>
            <img src="%=static=%img/assets/content/kiselev-7.png" alt="">
        </article>
    </main>
</div>
