<div class="container">
    <main class="main">
        <article class="content">
            <h1>Киностудия «Студия-А»</h1>
            <p>
                Сайт визитка для киностудии «Студия-А». Дизайн сайта сделан в стили минимализма + «управляемый хаос».
                Светлые цвета делают сайт приятным и легким.
            </p>
            <img src="%=static=%img/assets/content/studio-1.png" alt="">
            <img src="%=static=%img/assets/content/studio-2.png" alt="">
            <img src="%=static=%img/assets/content/studio-3.png" alt="">
            <p>
                При наведении на фотографию сотрудника она становится цветной. Вначале пока ни один сотрудник не выбран
                показан общий текст о команде. Если кликнуть по фотографии определенного сотрудника, то появится,
                во-первых, плашечка с его фио и, во-вторых, текст справа, который описывает именно его.
            </p>
            <img src="%=static=%img/assets/content/studio-4.png" alt="">
            <p>
                На странице портфолио показаны фильмы, ток-шоу и викторины, фотография и краткая информация о работе.
                Есть возможность сортировать работы в портфолио по жанрам и по каналам.
            </p>
            <img src="%=static=%img/assets/content/studio-5.png" alt="">
        </article>
    </main>
</div>
