<div class="container">
    <main class="main">
        <article class="content">
            <h1>Землеустроительная служба Гомельского облисполкома</h1>
            <p>
                Сайт позволяет вам выразить свое мнение по актуальным проблемам земельных отношений, задать интересующие
                вопросы и оперативно получить на них ответы.
            </p>
            <img src="%=static=%img/assets/content/zemle-1.png" alt="">
            <p>
                На сайте Землеустроительной службы Гомельского облисполкома можно получить всю необходимую информацию об
                охране и использовании земель, узнать о наличии свободных земельных участков в Гомельской области.
            </p>
            <p>
                Из интересного в реализации хочется отметить многоуровневое дерево с маркерами.
            </p>
            <p>
                Ссылка: <a title="Землеустроительная служба Гомельского облисполкома" href="http://www.gomeloblzem.by/" target="_blank">gomeloblzem.by</a>.
            </p>
            <span>Что интересного на сайте?</span>
            <ol>
                <li>3d облако меток.</li>
                <li>Погода.</li>
                <li>Слайдер.</li>
                <li>Форум.</li>
                <li>Обратная связь.</li>
                <li>Раздел с ограниченным доступом.</li>
                <li>Фотоальбом.</li>
            </ol>
            <img src="%=static=%img/assets/content/zemle-2.png" alt="">
        </article>
    </main>
</div>
