<div class="container">
    <main class="main">
        <article class="content">
            <h1>Создание сайта для smart automation system</h1>
            <p>
                На сайте авторизованный пользователь может посмотреть информацию по всем датчикам, которые установлены в
                умном доме. Блоки с сенсорами можно открывать/закрывать, все иконки для сенсоров это svg. По мотивам
                этой работы я написал про svg <a href="/blog/svg.html" target="_blank">статью</a>.
            </p>
            <img src="%=static=%img/assets/content/sas_profile.png" alt="smart automation system profile">
        </article>
    </main>
</div>
