.preview {
    .content-bg();
    width: 288px;
    &__img {
        max-width: 100%;
        margin: 0 0 16px;
    }
    &__title {
        color: @content-color;
        &:hover,
        &:focus {
            color: @content-color;
        }
    }
    &__text {
        margin: 16px 0 0;
    }
    &__date {
        display: none;
    }

    &--primary {
        width: 432px;
    }
}
