// File for less-vars.
// For example: main colors, paddings and so on.

@porcelain: #F7F9F9;
@gallery: #ECECEC;
@granny-smith: #7D9C9F;

@logo: @gallery;
@logo-hover: @porcelain;

@link: @gallery;
@link-hover: @porcelain;

@page-bg: @porcelain;
@page-shadow: @granny-smith;
@page-color: @granny-smith;

@preview-bg: @porcelain;
