<div class="container">
    <main class="main">
        <div class="blog">
            <div class="blog__item">
                <a href="/blog/flexbox.html" class="blog__title">Верстка с использованием CSS Flexbox</a>
                <div class="blog__date">Январь 2017 год</div>
            </div>
            <div class="blog__item">
                <a href="/blog/html-email.html" class="blog__title">Создание html-верстки для электронных писем</a>
                <div class="blog__date">Август 2016 год</div>
            </div>
            <div class="blog__item">
                <a href="/blog/api-googlemaps.html" class="blog__title">Возможности api googlemaps</a>
                <div class="blog__date">Май 2016 год</div>
            </div>
            <div class="blog__item">
                <a href="/blog/svg.html" class="blog__title">SVG. Двумерная масштабируемая векторная графика</a>
                <div class="blog__date">Июль 2015 год</div>
            </div>
            <div class="blog__item">
                <a href="/blog/gulp.html" class="blog__title">Сборщик проектов на gulp</a>
                <div class="blog__date">Февраль 2015 год</div>
            </div>
        </div>
    </main>
</div>
