<div class="container">
    <div class="main">
        {{> preview/preview preview.oki}}
        {{> preview/preview preview.ugkh}}

        {{> preview/preview preview.kontur}}
        {{> preview/preview preview.kiselev}}
        {{> preview/preview preview.vladlen}}

        {{> preview/preview preview.freeToPay}}
        {{> preview/preview preview.tuanna}}
        {{> preview/preview preview.getbonus}}

        {{> preview/preview preview.superdog}}
        {{> preview/preview preview.zemle}}
        {{> preview/preview preview.freeToPayOk}}

        {{> preview/preview preview.ctolik}}
        {{> preview/preview preview.studio}}
        {{> preview/preview preview.ubo}}
    </div>
</div>
