<div class="container">
    <main class="main">
        <article class="content">
            <h1>DEV Challenge 11 qualification</h1>
            <p>
                Сайт <a href="http://devchallenge.it/" target="_blank">devchallenge.it</a> проводит чемпионаты по
                разработке и, имея в наличии свободное время, я решил поучаствовать в нем. Условия максимально
                приближены к рабочим - есть psd-макет, который надо сверстать, и срок в неделю (с 1-го по 7-ое мая).
            </p>
            <p>
                Далее сдается готовая верстка и судьи ее оценивают. В зависимости от количества набранных балов
                участников отсеивают и делят на категорию standard и pro.
            </p>
            <p>
                В итоге я
                <a href="/devchallenge-11-qualification/front-end-developer-htmlcss-dev-challenge-11.pdf">
                    в числе</a> полуфиналистов чемпионата по разработке DEV Challenge 11 в номинации Front-end developer
                (HTML+CSS) в категории Pro. Мою работу можно оценить на
                <a target="_blank" href="https://github.com/krontill/devchallenge-11-qualification">гитхабе</a> и
                посмотреть итоговую вёрстку <a href="/devchallenge-11-qualification/">тут</a>.
            </p>
        </article>
    </main>
</div>
