<div class="container">
    <main class="main">
        <article class="content">
            <h1>Создание html-верстки для электронных писем</h1>
            <p class="epigraph"><i><q>Первое правило верстки писем в HTML — не пишите письма в HTML.</q></i></p>
            <p>
                Волею судеб довелось мне столкнуться с версткой для электронных писем и честно скажу я вам это боль не
                самое приятное занятие. И сейчас я расскажу, почему это так и как упростить себе жизнь, создавая
                html-верстку для e-mail рассылок.
            </p>
            <p>
                <q>E-mail is not a platform for design</q> (с)
                <city>Jeffrey Zeldman</city>
                .
            </p>
            <p>
                Основная проблема в обилии почтовый клиентов, каждый из которых по своему находится где-то далеко от
                передовой развития css, а ориентируемся мы по традиции на самые хиленькие и слабенькие умом (потому что
                поддержка). Не хочу быть голословным и подкину для просмотра ссылку на <a
                href="https://www.campaignmonitor.com/css/" target="_blank">сайт</a>, на котором представлена
                большая таблица поддержки CSS для топ-10 самых популярных мобильных, веб и настольных почтовых клиентов
                на планете. Обратите внимание на один из самых популярных почтовиков - Google Gmail. Он не может
                responsive, не понимает тег style, link и в разделе selectors у него практически пустота. Банальный
                hover (наведение курсора) имеет поддержку 4 из 10.
            </p>
            <p>
                Из вышесказанного вытекает проблема адаптировать письма под разные разрешения. Если выразиться кратко,
                то ситуация такая: за - можно верстать адаптивные письма, против - это не будет работать. Подробнее в
                статье - <a href="https://habrahabr.ru/company/pechkin/blog/258313/" target="_blank">Использование media
                queries в вёрстке email-писем</a>. В итоговой таблице слетели картинки
                check-green и check-X для обозначения поддержки, однако, для простых читателей, которые не лезут в код
                страницы, подскажу, что из 19 почтовых клиентов отмечены разрешительной галочкой всего лишь 9, меньше
                половины. Полагаю, вы обратили внимание что большинство html-писем, которые приходят к вам на почту,
                даже от очень крутых и именитых компаний, например таких как Blizzard Entertainment, а их письма ну
                очень красочные (подстать их играм), приходят шириной в 600 пикселей, даже если у вас огромнейший экран.
            </p>
            <p>
                Понимая весь этот ворох проблем, мы мысленно и буквально возвращаемся в то время когда верстали
                таблицами, да-да именно так (как бы это ужасно не звучало). Но это еще не самое плохое, хуже то что надо
                писать инлайновые стили т.е к тегу добавляем атрибут style и в него прописываем все необходимые
                свойства.
                <code>
                    &lt;span style="font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; color:#000000;
                    line-height: 14px;"&gt;Текст&lt;/span&gt;
                </code>
                <br>
                И так всякий раз на любой текст в нашем html-письме... Звучит удручающе, не так ли?
            </p>
            <p>
                Благо мы не первые, кто столкнулся с этой темой, нам на помощь приходят опыт других людей и современные
                инструменты. Очень рекомендую ссылку на
                <a href="https://habrahabr.ru/company/pechkin/blog/273677/"
                   target="_blank">кучу полезных ресурсов, руководств и исследований</a>. Чтобы не
                утомлять себя и не писать вручную таблицы я обратил внимание на Email Framework – фреймворк для создания
                HTML-писем. Также я использовал сборщик проектов TARS, основанный на gulp, что помогло мне упростить
                работу при верстке 33 писем т.к часть блоков все же там повторялась и я мог подключать модули -
                <code>&#123;&#123;&gt; header/header&#125;&#125;</code>. При необходимости, подключая модуль можно еще
                передавать переменные
                <code>&#123;&#123;&gt; dormis-support/dormis-support dormis-support.color-gray&#125;&#125;</code>
                (блок support с серым фоном), а в самом шаблоне указать переменные для фона, ширины и тд -
                <code> &lt;table width="&#123;&#123;vars.width.val&#125;&#125;" cellpadding="0" cellspacing="0"
                    border="0" class="dormis-support-bg" bgcolor="&#123;&#123;val&#125;&#125;"&gt;</code>.
                В data.js в этом модуле указываем варианты цветов для этого блока.
            </p>
            <img src="%=static=%img/assets/blog/email-html-1.png" alt="email-html">
            <p>
                Vars прописываем для того чтобы у нас в шаблоне работали не только передаваемая переменная, но и
                переменные для всего проекта. А там у нас повторяемые инлайновые стили для обычного текста, заголовков,
                ссылок и всего того что много раз повторяется.
            </p>
            <img src="%=static=%img/assets/blog/email-html-2.png" alt="email-html">
            <p>
                Далее в шаблоне просто указываем <code>style="&#123;&#123;vars.img-style.val&#125;&#125;"</code>, либо
                можем комбинировать несколько стилей
                <code>style="&#123;&#123;vars.title.val&#125;&#125; &#123;&#123;vars.font-family.val&#125;&#125;"</code>,
                либо на месте сразу же и часть стилей переопределять <code>style="&#123;&#123;vars.font-family.val&#125;&#125;
                &#123;&#123;vars.link-style.val&#125;&#125; line-height: 20px;"</code>.
            </p>
            <p>
                После создания верстки переходим к определению актуальных почтовых клиентов с последующим тестированием
                корректности отображения созданных макетов.
            </p>
            <img src="%=static=%img/assets/blog/email-client.png" alt="Email clients">
            <p>
                P.S. Любители заверстать все в один gif смотрят на этот пост с недоумением :-)
            </p>
        </article>
    </main>
</div>
