<div class="container">
    <main class="main">
        <article class="content">
            <h1>Сборщик проектов на gulp</h1>
            <p>
                Возобновляю ведение технического блога, чтобы было где описать что-нибудь новенькое и интересное из мира
                веб разработки или просто рассказать по работе с чем сталкиваюсь и с чем работаю.
            </p>
            <p>
                Решил что пора бы уже использовать такой полезный инструмент как сборщик пакетов. Сначала попробовал
                grunt, однако по многочисленным рекомендациям почти сразу же перешел на gulp (все отмечали что он
                намного быстрее). За основу взял сборку Insayt по статье http://habrahabr.ru/post/250569/ и переделал.
            </p>
            <p>
                Заменил часть плагинов: <br>
                sass -> less, // тут просто в силу предпочтений <br>
                gulp-connect -> browser-sync, <br>
                gulp-cssmin -> gulp-minify-css; <br>
                Остальные два плагина автора были в
                <a title="blackList" href="http://gulpjs.com/plugins/blackList.json" target="_blank">черном списке</a>
                gulp.
            </p>
            <p>
                Также добавил обработку ошибок для less и js, чтобы сервер не вылетал.
            </p>
            <p>
                Кроме того изменил немного логику с каталогами. Я убрал вложенные partials в стилях и js и папку
                template, потому что при таком варианте пути к картинкам в src и build отличались. Сделал вместо
                подкаталогов просто другое наименование файлов — добавляю нижнее подчеркивание в начало имени файла.
            </p>
            <p>
                Итоговый вариант на гитхабе. <a href="https://github.com/krontill/frontend-devil" target="_blank">https://github.com/krontill/frontend-devil</a>
            </p>
        </article>
    </main>
</div>
